.article-index-item {
  display: flex;
  margin-bottom: 8px;
  padding: 12px;
  border-radius: 3px;
  border-left: 3px solid white;
  img {
    width: 100%;
    height: 100%;
  }

  h1 {
    display: block;
    color: #333333;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
  }

  a {
    display: flex;
    text-decoration: none;
  }
}

.article-index-item:hover {
  border-left: 3px solid #9e9e9e;
}

.article-viewed {
  border-left: 3px solid #9e9e9e;
  a, h1 {
    color: #9e9e9e;
  }
  img {
    opacity: 0.5;
  }
}

.article-content {
  display: flex;
  flex-direction: column;
  padding: 1px;
}

.article-summary {
  display: block;
  margin-top: 8px;
  color: #9e9e9e;
  max-height: 54px;
  overflow: hidden;
}

.article-img > img {
  margin-right: 20px;
  height: 78px;
  width: 130px;
}

.article-date {
  color: #9e9e9e;
}

.article-show {
  position: absolute;
  right: -1000px;
  width: 1000px;
  height: 1000px;
  background: blue;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 2s;
  animation: slide 0.5s forwards;
  animation-delay: 2s;
}

@-webkit-keyframes slide {
    100% { right: 0; }
}

@keyframes slide {
    100% { right: 0; }
}
