.article-index-item {
  display: flex;
  margin-bottom: 8px;
  padding: 12px;
  border-radius: 3px;
  border-left: 3px solid white;
  position: relative;
  img {
    width: 100%;
    height: 100%;
  }

  h1 {
    display: block;
    color: #333333;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
  }

  a {
    display: flex;
    text-decoration: none;
  }
}

.article-index-item:hover {
  border-left: 3px solid #9e9e9e;
}

.article-viewed {
  border-left: 3px solid #9e9e9e;
  a, h1 {
    color: #9e9e9e;
  }
  img {
    opacity: 0.5;
  }
}

.article-content {
  display: flex;
  flex-direction: column;
  padding: 1px;
  margin-right: 8px;
}

.article-summary {
  display: block;
  margin-top: 8px;
  color: #9e9e9e;
  max-height: 54px;
  overflow: hidden;
  p, li {
    margin-bottom: 6px;
  }
  img {
    display: none;
  }
  a {
    display: none;
  }
  iframe {
    display: none;
  }
}

.article-img > img {
  margin-right: 20px;
  height: 78px;
  width: 130px;
}

.article-date {
  color: #9e9e9e;
}

.article-show {
  margin: auto 209px;
}

.article-show-header-title {
  display: flex;
  flex-wrap: wrap;
  font-weight: bold;
  font-size: 2em;
  margin-top: 48px;
  margin-bottom: 8px;
  a {
    text-decoration: none;
    color: #333333;
  }
}

.article-show-date {
  color: #9e9e9e;
  margin-bottom: 24px;
}

.article-show-content {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  color: #333333;
  font-size: 16px;
  font-family: sans-serif;
  img {
    max-width: 600px;
    float: none !important;
    align-self: center;
    box-shadow: 3px 3px 6px lightgrey;
    margin: 10px 0px 10px 0px;
  }
  p, div, aside, li {
    margin-bottom: 8px;
  }
  h2, h3, h4 {
    align-self: flex-start;
    font-weight: bold;
    font-size: 16px;
    margin: 12px 0px 12px 0px;
  }
}

.article-show-url {
  display: flex;
  justify-content: center;
  padding: 12px 17px 10px 17px;
  width: 100%;
  margin-top: 24px;
  margin-bottom: 120px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: bold;
  text-transform: uppercase;
  color: #9e9e9e;
}

#article-url {
  text-decoration: none;
}

.read-later-stream {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  h1 {
    font-size: 32px;
    font-weight: bold;
  }
}

.feedflare {
  display: none;
}

.bookmark-unsaved {
  font-size: 18px;
  color: #9e9e9e;
  cursor: pointer;
  right: 0;
  top: 9px;
  position: absolute;
}

.bookmark-saved {
  color: #d7694c;
  font-size: 18px;
  cursor: pointer;
  right: 0;
  top: 9px;
  position: absolute;
}
