.ReactModal__Overlay, .ReactModal__Overlay--after-open {
  z-index: 700;
}

.ReactModal__Body--open {
    overflow: hidden;
}

.ReactModal__Overlay {
  opacity: 0;

  &--after-open {
    opacity: 1;
    transition: opacity 500ms ease-in-out;
  }

  &--before-close {
    opacity: 0;
  }
}

.ReactModal__Content {
  transition: all 500ms ease-in-out;
  transform: translateY(30px);
  opacity: 0;

  &--after-open {
    opacity: 1;
    transform: translateY(0);
  }

  &--before-close {
    opacity: 0;
    transform: translateY(30px);
  }
}

.auth-form-container {
  margin: auto;
  text-align: center;
  width: 304px;
  height: 450px;
}

.auth-form-container > h2 {
  display: block;
  color: black;
  font-size: 19px;
  font-weight: bold;
  margin-top: 34px;
}

.auth-form-container > form {
  display: block;
  margin-top: 34px;
}

.auth-form > input, .auth-form-fname-lname > input {
  box-sizing: border-box;
  height: 44px;
  width: 100%;
  border: 1px solid #D6D6D6;
  background-color: #FAFAFA;
  font-size: 17px;
  padding: 8px;
  border-radius: 3px;
  margin: 2px 0px 2px 0px;
}

.auth-form > input:focus, .auth-form-fname-lname > input:focus {
  outline: none;
  border: 1px solid black;
}

.auth-form > button, .demo-login > form > button {
  background-color: #d7694c;
  border-radius: 4px;
  border: 1px solid #d7694c;
  color: white;
  cursor: pointer;
  display: block;
  font-weight: bold;
  height: 46px;
  min-width: 50px;
  padding: 0;
  text-align: center;
  text-decoration: none;
  width: 100%;
  font-size: 13px;
  text-transform: uppercase;
  margin-top: 17px
}

.auth-form > button:hover, .demo-login > form > button:hover {
  background-color: #9a3e27;
  border: 1px solid #9a3e27;
}

.auth-form-footer {
  margin-top: 17px;
  text-align: left;
  width: 100%;
}

.auth-form-footer > a {
  color: inherit;
  font-size: 14px;
  line-height: 44px;
}

.auth-errors-list {
  color: red;
  font-weight: bold;
  font-size: 14px;
  list-style: none;
  margin: 0;
  padding: 0;
}
