.feed-index-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
  padding-left: 12px;
  img {
    width: 100%;
    height: 100%;
  }
}

.feed-show-header {
  margin: 24px 12px 32px 12px;
  display: flex;
  justify-content: space-between;
}

.feed-show-header-title > h1 > a {
  font-size: 26px;
  width: 100%;
  color: #333333;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 8px;
  cursor: pointer;
}

.feed-content > a {
  width: 100%;
  color: #333333;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
  cursor: pointer;
}

.feed-content, .feed-show-desc {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  color: #9e9e9e;
  max-height: 54px;
  overflow: hidden;
  padding-bottom: 3px;
}

.feed-img > img {
  margin-right: 20px;
  height: 60px;
  width: 60px;
}

#follow-button {
  position: relative;
  margin-left: 8px;
  padding: 4px 7px 2px 7px;
  border: 1px solid #d7694c;
  border-radius: 3px;
  color: #d7694c;
  font-size: 11px;
  font-weight: bold;
  min-width: 84px;
  height: 24px;
  line-height: 16px;
  text-transform: uppercase;
  background-color: white;
  cursor: pointer;
}

#follow-button:hover {
  color: #9a3e27;
  border: 1px solid #9a3e27;
}

#following-button {
  position: relative;
  margin-left: 8px;
  padding: 4px 7px 2px 7px;
  border: 1px solid #9e9e9e;
  border-radius: 3px;
  font-size: 11px;
  font-weight: bold;
  min-width: 84px;
  height: 24px;
  line-height: 16px;
  text-transform: uppercase;
  background-color: white;
  cursor: pointer;
  color: #9e9e9e;
}

#following-button:hover {
  color: lightgrey;
  border: 1px solid lightgrey;
}
