.ReactModal__Overlay, .ReactModal__Overlay--after-open {
  z-index: 700;
}

.ReactModal__Body--open {
    overflow: hidden;
}

.ReactModal__Overlay {
  opacity: 0;

  &--after-open {
    opacity: 1;
    transition: opacity 500ms ease-in-out;
  }

  &--before-close {
    opacity: 0;
  }
}

.ReactModal__Content {
  transition: all 500ms ease-in-out;
  transform: translateX(30px);
  opacity: 0;

  &--after-open {
    opacity: 1;
    transform: translateX(0);
  }

  &--before-close {
    opacity: 0;
    transform: translateX(30px);
  }
}

i.fa.fa-times, .modal-bookmark {
  font-size: 18px;
  color: #9e9e9e;
  cursor: pointer;
  margin-left: 28px;
  margin-right: 135px;
}

i.fa.fa-bookmark-o:hover {
  color: #d7694c;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  position: absolute;
  box-shadow: 1px 0 0 1px rgba(0, 0, 0, 0.05);
  width: 1081px;
  height: 30px;
  left: 0;
  top: 0;
  padding-top: 14px;
  padding-bottom: 7px;
}
