#popover {
  position: absolute;
  right: 0px;
  left: -207px !important;
  top: 27px !important;
  background-color: white;
  border-radius: 3px;
  z-index: 800;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2), 0px 0px 2px rgba(0, 0, 0, 0.38);
}

.collection-menu {
    min-width: 300px;
    display: flex;
    flex-direction: column;
    border-top: solid 1px rgba(0, 0, 0, 0.05);
    overflow-x: hidden;
    overflow-y: auto;
}

.menu-collection-item {
  align-items: center;
  color: #333333;
  display: flex;
  justify-content: space-between;
  font-size: 0.875rem;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 20px;
  padding: 0.5rem;

  i {
    margin-right: 8px;
    font-size: 20px;
    color: #9e9e9e;
  }
}

.menu-collection-item:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

#add-button, #collection-create-button {
  position: relative;
  padding: 4px 7px 2px 7px;
  border: 1px solid #d7694c;
  border-radius: 3px;
  font-size: 11px;
  font-weight: bold;
  min-width: 58px;
  height: 24px;
  line-height: 16px;
  text-transform: uppercase;
  background-color: white;
  cursor: pointer;
  color: #d7694c;
}

#add-button:hover, #collection-create-button:hover {
  color: #9a3e27;
  border: 1px solid #9a3e27;
}

#collection-cancel-button {
  position: relative;
  padding: 4px 7px 2px 7px;
  border-radius: 3px;
  font-size: 11px;
  font-weight: bold;
  min-width: 58px;
  height: 24px;
  line-height: 16px;
  text-transform: uppercase;
  background-color: white;
  cursor: pointer;
  color: #757575;
  border: 1px solid rgba(0, 0, 0, 0.15);
  margin-left: 7px;
}

#collection-cancel-button:hover {
  color: grey;
  border: 1px solid grey;
}

.collection-create-form {
  display: flex;
  border-top: 1px solid lightgrey;
  padding: 8px 19px 8px 12px;
  font-size: 14px;
  font-weight: bold;
  input {
    width: 100%;
    border: 1px solid #D6D6D6;
    background-color: #FAFAFA;
    font-size: 17px;
    padding: 8px 2px 8px 8px;
    border-radius: 3px;
    margin: 8px 0px 8px 0px;
  }
}
