.navbar-holder {
  line-height: 28px;
  font-weight: normal;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  background: #2c3e50;
  background-position: 14px 36px;
  background-repeat: no-repeat;
  background-size: 24px;
  opacity: 1;
  width: 268px;
  user-select: none;
  transform: translateZ(0);
}

.nav-open {
  margin-left: 268px;
}

.navbar {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 51px;
  background: #2c3e50;
  overflow-x: hidden;
  overflow-y: auto;
}

.navbar-top-spacer {
  height: 26px;
  padding-left: 34px;
}

.navbar-tabs {
  margin-bottom: 40px;
}

.navbar-link {
  color: rgba( 255, 255, 255, 0.85 );
  cursor: pointer;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 180px;
  overflow: hidden;
  font-size: 13px;
  text-decoration: none;
}

.label {
  padding-left: 34px;
}

.nav-highlight:hover {
  background-color: rgba(252, 252, 252, 0.22);
}

.navbar-separator {
  margin-top: 40px;
  padding-left: 34px;
  text-transform: uppercase;
  font-size: 11px;
  color: rgba( 255, 255, 255, 0.9 );
}

img#navbar-feed-icon {
  width: 16px;
  height: 16px;
  margin: 6px 6px 6px 0px;
}

.navbar-feed, .navbar-item {
  display: flex;
}

i.fa.fa-angle-down {
  margin-right: 6px;
  font-size: 26px;
}

.fa-calendar-o, .fa-bookmark-o, .fa-search {
  margin-right: 6px;
  font-size: 13px;
}

.collected-feed-list {
    padding-left: 24px;
}
