.today-header {
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
  margin-bottom: 50px;
  h1 {
    padding: 0px 12px 0px 12px;
    font-size: 34px;
    font-weight: bold;
  }
}

.today-sub {
  padding: 0px 12px 0px 12px;
  font-size: 20px;
  font-weight: normal;
  margin-top: 8px;
  letter-spacing: 1px;
  color: #757575;
}

.today-refresh-button {
  float: right;
}
