/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "reset.css";
@import "font-awesome-sprockets";
@import "font-awesome";

body {
  display: block;
  margin: 0px;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  color: #333333;
  background-color: white;
}

@media (min-width: 544px) {
  .container {
    max-width: 576px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 960px) {
  .container {
    max-width: 888px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 888px;
  }
}

.main {
  padding-top: 56px;
}

.hidden {
  display: none;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}
