<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to FeedRSS</title>
    <link rel="icon" type="image/png" href="/assets/icons/icon.png" sizes="32x32">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
